In [2]:
import nltk
nltk.download('punkt_tab')
from nltk.tokenize import word_tokenize, sent_tokenize

[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

In [5]:
sentence= "Her Cat name is Luna. Her Dog name is Max"

In [6]:
sent_tokenize(sentence)

['Her Cat name is Luna.', 'Her Dog name is Max']

In [7]:
sentence= "Her Cat name is Luna"
word_tokenize(sentence)

['Her', 'Cat', 'name', 'is', 'Luna']

In [10]:
sentence2="Her Cat name is Luna and her dog name is Max"
word_tokenize(sentence2)

['Her', 'Cat', 'name', 'is', 'Luna', 'and', 'her', 'dog', 'name', 'is', 'Max']